
header {
  display: flex;
  justify-content: space-between;
  margin: 4px 4px 4px 4px;
  padding: 4px 4px 4px 4px;
  background-color: lightblue;
  border-radius: 10px;
}

header h1 {
  font-size: 50px;
}

header nav ul {
  display: flex;
  justify-content: space-between;
  min-width: 300px;
  flex-direction: row;
  padding-top: 20px;
  padding-right: 10px;
}

header a {
  color: antiquewhite;
  font-size: 25px;
}

main {
  display: flex;
  flex-direction: row-reverse;
  line-height: 1.5rem;
}

.downloads,
.discriptions {
  margin: 20px 20px;
  /* border: 2px solid lightblue; */
}

.discriptions h3 {
  color: brown;
}

.about-wrapper{
  display: flex;
  font-size: 20px;
}

.about-wrapper h3{
  padding-top:50px;
}

.discriptions h3{
  font-size: 30px;
  padding-top: 10px;
  padding: 8px;
}


section article {
  margin-bottom: 20px;
  border: 2px solid lightcoral;
  padding: 4px 5px 4px 5px;
}

.about-wrapper h3{
  padding-top:150px;
}

.intro{
  padding-top: 20px;
}

.work-wrapper {
  min-height: auto;
  max-height: auto;
}

.flex-container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  /* min-height: 100px;
  max-height: 100px;  */
}



 .forms .style{
  margin: 20px;
  border: 5px solid;
  
 }
 .forms h4{
  text-align: center;
  font-size: 24px;
 }

 .python h4{
  text-align: center;
  font-size: 20px;
 }

 .python img{
  padding-top:20px;
  padding-left: 100px;
 }


 .python .project1 {
  
  border: 5px dashed lightgrey;
  max-width: 40%;
  margin: 30px 5px 20px 20px;
  padding: 20px 20px;
 }

 .calculator .project{
  border: 5px dashed lightblue;
  max-width: 40%;
  margin: 3px 20px;
  padding: 20px 20px;

 }

 .calculator h4{
  text-align: center;
  font-size: 20px;
 }

 .calculator img{
  padding-left:100px;

 }

/* psuedo classes and element */

header a:link {
  text-decoration: none;
}

header a:visited {
  text-decoration: none;
}

header a:hover {
  color: darkcyan;
}

header a:active {
  color: brown;
}



footer a{
  margin-left: 50%;

}

footer h4{
  text-align: center;

}

@media screen and (max-width: 768px) {
  header {
    display: flex;
    flex-direction: row;
  }

  nav {
    display: inline-flex;
    align-items: center;
  }

  main{
    display: flex;
    flex-direction: row;
    width:50%;

  }
}

button {
  color: brown;
  background-color: yellow;
}
